body {
  width: 100%;
  overflow-x: hidden;
  display: block;
}

nav {
  width: 100%;
  height: 4vw;
  background: rgba(0, 0, 0, 0.8);
}

.nav_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin-left: 10%;
}
.nav_item > a {
  color: lavender;
  text-decoration: none;
}

.nav_item > a:hover {
  transition: all 0.2s linear;
  color: #e6e6e6;
}

.fade_in {
  /* display: none; */
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}

.fade_in > input {
  width: 40vw;
  height: 1.8vw;
  margin-top: 5vw;
  margin-left: 30%;
}

.close_search {
  font-size: 2vw;
  color: aliceblue;
  position: absolute;
  right: 20vw;
  top: 3vw;
  cursor: pointer;
}

.none {
  display: none;
}

.banner1 {
  width: 100%;
  background: black;
  height: 25vw;
  color: aliceblue;
  font-size: 3vw;
  position: relative;
  overflow: hidden;
}

.banner1 > h1 {
  position: absolute;
  margin-left: 38vw;
  margin-top: 10vw;
}

form {
  position: relative;
  margin: 2vw auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > input[type="text"],
form > input[type="number"],
form > input[type="date"],
form > input[type="passwort"],
form > input[type="email"] {
  width: 14vw;
  height: 2vw;
  margin: 0.2vw 0vw;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form > a {
  text-align: center;
  margin-bottom: 2vw;
}

.checkbox_span {
  color: #505050;
  font-size: 0.8vw;
  margin-left: 1.6vw;
}

.button_form {
  background: navy;
  color: lavender;
  width: 7vw;
  height: 2vw;
  margin: 1vw 12vw;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.button_form:hover {
  background: rgb(80, 144, 248);
  transition: all 0.3s linear;
}

#contry,
#number {
  width: 29vw;
  height: 2vw;
  margin: 0.2vw 0vw;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.number_span > p {
  color: #505050;
  font-size: 0.8vw;
  line-height: 0.8vw;
  margin-left: 1.6vw;
  width: 30vw;
}

.logo_img {
  width: 100%;
}

.search_img {
  width: 40%;
}

.basket_img {
  width: 40%;
}

.anima {
  width: 40vw;
  height: 20vw;
  position: absolute;
  animation: anima 12s linear infinite;
  margin-left: 30%;
}

@keyframes anima {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.circle {
  width: 15vw;
  height: 15vw;
  position: absolute;
  border-radius: 100%;
  filter: blur(8vw);
}

.cl0 {
  background: blue;
  top: 0;
  left: 0;
}
.cl1 {
  background: hotpink;
  top: 0;
  right: 0;
}
.cl2 {
  background: green;
  bottom: 0;
  left: 0;
}
.cl3 {
  background: yellow;
  bottom: 0;
  right: 0;
}

.colors {
  color: aqua !important;
}
